@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
}

a {
  color: white;
}

p {

}

.main {
  margin-left: 10px;
}

#new-center {
  text-align: center;
}

.form-group {
  margin-left: 10px;
}

.btn {
  margin: 10px;
}